# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Matt Sheehan
	email = sheehamj@outlook.com
[alias]
	ch = checkout
	ci = commit
	st = status
	br = branch
	last = log -1 HEAD
	vis = !gitk
	amend = commit --amend
	push = stash push --all
	pop = stash pop
	stashls = stash list
	unstage = reset HEAD --
[core]
	autocrlf = input
	whitespace = blank-at-eol,space-before-tab,cr-at-eol
