
### Emacs ###
*.*~
[#]*[#]
.\#*
.[#]*
*.[a-zA-Z]~

### macOS ###
**/.DS_Store

### Directories to ignore ###
.emacs.d/**

packages/bash/.bashrc.secrets

packages/.bashrc.d/bash-sensible/**
packages/.bashrc.d/git-aware-prompt/**
packages/.bashrc.d/z/**

__azurite_db_queue**
