
### Emacs ###
*.*~
[#]*[#]
.\#*
.[#]*
*.[a-zA-Z]~

### macOS ###
**/.DS_Store

### Directories to ignore ###
.emacs.d/**

packages/bash/.bashrc.secrets

packages/bash/.bashrc.d/bash-sensible/
packages/bash/.bashrc.d/git-aware-prompt/
packages/bash/.bashrc.d/z/

__azurite_db_queue**
